
.catalogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}


.search-bar input {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.catalogPage {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}