@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #343433;
  --secondary-color: #733d35;
  --accent1-color: #e4c3a6;
  --accent2-color: #297ea5;
  --accent3-color: #F3F1E6;

  --background: #fefefe;

  --radius: 5px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--primary-color);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-inter-mono);
}

body {
  padding: 0 2rem;
  font-family: Inter, sans-serif;
  background: var(--background);
  color: var(--primary-color);
}

section {
  padding-bottom: 1.5rem;
}

h1, h2 {
  color: var(--secondary-color);
}

/* FORM ELEMENTS */
input {
  max-width: 20em;
  height: 2em;
  font-size: 1.2rem;
}

button {
  padding: 0 2em;
  height: 2em;
  font-size: 1.2em;
  color: var(--background);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius);
  cursor: pointer;
}
button:hover {
  color: var(--secondary-color);
  background-color: var(--background);
}

.a-button {
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  background-color: var(--secondary-color);
  color: var(--background);
  border-radius: var(--radius);
  border: 1px solid var(--secondary-color);
  text-decoration: none;
}

.a-button:hover {
  padding: 0.5rem 1rem;
  background-color: var(--background);
  color: var(--secondary-color);
}


/* END FORM ELEMENTS */


/* NAV SECTION */
header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.nav {
  position: relative;
}

header > .nav > ul.mobile-menu {
  display: none;
}

.nav > ul {
  padding: .5rem;
}

.nav > ul > li {
  list-style: none;
}

.nav > ul > li > a {
  text-decoration: none;
  color: black;
}

.nav > ul > li > a.active {
  text-decoration: underline;
}

.hamburger-button {
  display: block;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  padding: 0;
}

header > .nav > ul.mobile-menu.open {
  display: flex;
  position: absolute;
  top: 0;
  right: 1rem;
  flex-direction: column;
  background: var(--background);
  z-index: 10;
  opacity: 90%;
  gap: .25rem;
}

.nav > button {
  width: 100%;
  text-align: right;
  color: black;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  section {
    padding-bottom: 3rem;
  }

  .hamburger-button {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  header > .nav > ul.mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}
