@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #343433;
  --secondary-color: #733d35;
  --accent1-color: #e4c3a6;
  --accent2-color: #297ea5;

  --background: #fefefe;

  --radius: 5px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--primary-color);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-inter-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 0 2rem;
  font-family: Inter, sans-serif;
  background: var(--background);
  color: var(--primary-color);
}

@media screen and (min-width: 600px) {
  body {
    max-width: 1200px;
    margin: auto;
  }
}

